
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  outline: none;
}

html {
  font-size: 62.5%;
}

body {
  font-family: CabinSketch, sans-serif;
  font-weight: 400;
  line-height: 1.7;
  box-sizing: border-box;
}

li, a, :active, :link {
  text-decoration: none;
  list-style: none;
  color: inherit;
}
